<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro Consulta</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
        <script th:src="@{/jquery/jquery.js}"></script>
        <script th:src="@{/jquery/jquery.validate.js}"></script>
    </head>
    <body>
        <header th:insert="~{navbar.html :: nav}"></header>
        <div class="centro">
            <h1>Cadastro de Consultas</h1>
            <form id="formConsulta" class="borda" th:action="@{/cadastro_consulta}" method="POST">
                <label for="data">Data:</label>
                <input id="data" type="date" name="data"/>
                <br/>
                <label for="hora">Hora:</label>
                <input id="hora" type="time" name="hora"/>
                <br/>
                <select id="pacientes">
                    <option value="1">Paciente Teste</option>
                </select>
                <br/>
                <label for="observacoes">Observações:</label>
                <br/>
                <textarea id="observacoes" name="observacoes" rows="10" cols="50"></textarea>
                <br/>
                <input type="submit" value="Cadastrar"/>
            </form>
            <button class="back" onclick="window.location.href='/menu'">Cancelar</button>
        </div>
        <script th:src="@{/js/cadastroConsulta.js}"></script>
    </body>
</html>
