<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dados da Ficha</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
    </head>
    <body>
        <header th:insert="~{navbar.html :: nav}"></header>
        <div class="centro">
            <p>Data: <input type="date" name="name" th:value="${ficha.data}" disabled="disabled"/></p>
            <textarea id="ficha" name="ficha" th:text="${ficha.conteudoFicha}" rows="10" cols="50" disabled="disabled"></textarea>
            <button class="back" onclick="window.location.href='/listagem_pacientes'">Voltar</button>
        </div>
    </body>
</html>
