<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listagem Pacientes</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
    </head>
    <body>
        <header th:insert="~{navbar.html :: nav}"></header>
        <div class="centro">
            <h1>Listagem de Pacientes</h1>
            <p>Nome: <input id="nome" type="text" name="nome"/></p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Nascimento</th>
                        <th>Sexo</th>
                        <th>CPF</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="paciente : ${pacientes}">
                        <td th:text="${paciente.id}"></td>
                        <td th:text="${paciente.nome}"></td>
                        <td th:text="${paciente.dataNasc}"></td>
                        <td>
                            <span th:if="${paciente.sexo} == 'h'">Homen</span>
                            <span th:if="${paciente.sexo} == 'm'">Mulher</span>
                        </td>
                        <td th:text='${paciente.cpf}'></td>
                        <td>
                            <button th:onclick="'window.location.href=\'' + @{/cadastro_ficha?paciente_id=__${paciente.id}__} + '\''">Criar Ficha</button>
                            <button th:onclick="'window.location.href=\'' + @{/fichas_paciente?paciente_id=__${paciente.id}__} + '\''">Fichas Paciente</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="back" onclick="window.location.href='/menu'">Voltar</button>
        </div>
    </body>
</html>
