<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listagem Consulta</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{css/style.css}"/>
    </head>
    <body>
        <header th:insert="~{navbar.html :: nav}"></header>
        <div class="centro">
            <h1>Listagem de Consultas</h1>
            <p>Paciente: 
                <select id="pacientesPesquisa">
                    <option value="1">Paciente Teste</option>
                </select>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Paciente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>01/01/2024</td>
                        <td>12:00</td>
                        <td>Paciente Teste</td>
                    </tr>
                </tbody>
            </table>
            <button class="back" onclick="window.location.href='/menu'">Voltar</button>
        </div>
    </body>
</html>
